.form-wrap {
    text-align: center;
}

label {
    font-family: "IBM Plex Serif";
    padding-top: 1rem;
    text-align: left;
}

input {
    font-family: "IBM Plex Serif";
    width: 100%;
}

@media (min-width: 400px) {
    .contact-square {
        width: 400px;
        height: 100%;
        display: grid;
        text-align: center;
        place-items: center;
        color: black;
        background: rgba(255,255,255, 0.5);
        position: relative;
    } 
}

@media (max-width: 400px) {
    .contact-square {
        width: 350px;
        height: 100%; 
        display: grid;
        place-items: center;
        color: black;
        background: rgba(255,255,255, 0.5);
        position: relative;
    }
}

@media (max-width: 330px) {
    .contact-square {
        width: 315px;
        height: 100%; 
        display: grid;
        place-items: center;
        color: black;
        background: rgba(255,255,255, 0.5);
        position: relative;
    }
    form {
        margin-left: 1rem;
    }

    input {
        font-family: "IBM Plex Serif";
        width: 85%;
    }
    textarea {
        min-height: 200px;
        resize: vertical;
        font-size: 20px;
        border-style: solid;
        border-color: lightgray;
        border-width: 2px;
        padding: 10px;
    }
}

@media (min-width: 375px) {
    textarea {
        width: 90%;
        min-height: 200px;
        resize: vertical;
        font-size: 20px;
        border-style: solid;
        border-color: lightgray;
        border-width: 2px;
        padding: 10px;
    }
    input {
        width: 90%; 
    }
    form {
        margin: 1rem;
    }

}

button {
    margin-top: 3rem;
    min-height: 2rem;
}

.input-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #353c3a;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'IBM Plex Serif',sans-serif;
    color:white;
    background-color: #353c3a;
    text-align:center;
    transition: all 0.2s;
    max-width: 7rem;
    }

.input-button:hover {
    font-family:'IBM Plex Serif',sans-serif;
    color: #353c3a;
    background-color: white;
    border-color: white;
    }   

input {
    border-style: solid;
    border-color: lightgray;
    padding: 10px; 
}

.input-wrap {
    margin-top: 1rem;
    text-align: left;
}

.small-contact-text {
    font-family: 'IBM Plex Serif',sans-serif;
    margin-top: 3rem;
}
