/* @media (max-width: 900px) {
    form {
        text-align: center;
        display: inline-block;
        min-width: 90%;
    }
}

@media (min-width: 901px) {
    form {
        text-align: center;
        display: inline-block;
        min-width: 30%;
    }
} */

 /* @media (max-width: 900px) {
    .input-wrap {
        margin: 1rem; 
    }
}

@media (min-width: 901px) {
    .input-wrap {
        margin: 3rem; 
    }
} 
 */

/*

@media (min-width: 601px) {
    .input-button {
        min-width: 10%;
    }
}

@media (max-width: 600px) {
    .input-button {
        min-width: 40%;
    }
} */

.form-wrap {
    text-align: center;
}

legend {
    font-family: "Avenir";
    padding-top: 1rem;
    text-align: left;
}

input {
    font-family: "Avenir";
    width: 100%;
}

@media (min-width: 400px) {
    .contact-square {
        width: 500px;
        height: 100%;
        display: grid;
        text-align: center;
        place-items: center;
        color: black;
        background: rgba(173, 216, 230, 0.7);
        position: relative;
    } 
}

@media (max-width: 400px) {
    .contact-square {
        width: 325px;
        height: 100%; 
        display: grid;
        place-items: center;
        color: black;
        background: rgba(173, 216, 230, 0.7);
        position: relative;

    }
    input {
        font-family: "Avenir";
        width: 90%;
    }
    textarea {
        min-height: 200px;
        resize: vertical;
        font-size: 20px;
        border-style: solid;
        border-color: lightgray;
        border-width: 2px;
        padding: 10px;
    }
}

@media (min-width: 401px) {
    textarea {
        width: 100%;
        min-height: 200px;
        resize: vertical;
        font-size: 20px;
        border-style: solid;
        border-color: lightgray;
        border-width: 2px;
        padding: 10px;
    }
}

button {
    margin-top: 3rem;
    min-height: 2rem;
}

.input-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #353c3a;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Avenir',sans-serif;
    color:white;
    background-color: #353c3a;
    text-align:center;
    transition: all 0.2s;
    max-width: 7rem;
    }

.input-button:hover {
    font-family:'Avenir',sans-serif;
    color: #353c3a;
    background-color: white;
    border-color: white;
    }   

input {
    border-style: solid;
    border-color: lightgray;
    padding: 10px; 
}

.small-contact-text {
    font-family: 'Avenir',sans-serif;
    margin-top: 3rem;
}
