@font-face {
    font-family: "OpenSans";
    font-weight: normal;
    src: url("../fonts/OpenSans-Light.ttf");
    format: ("truetype");
}

@font-face {
    font-family: "JungleJam";
    font-weight: normal;
    src: url("../fonts/JungleJam.woff");
    format: ("opentype");
}

@font-face { 
    font-family: "Avenir";
    font-weight: normal;
    src: url("../fonts/Avenir.ttc"); 
    format: ("opentype"); 
}
