
.blue-square {
    width: 312px;
    height: 500px;
    display: grid;
    place-items: center;
    color: black;
    background: rgba(255,255,255, 0.5);
    position: relative;
}


.hero-title-contents {
    font-family: "JungleJam";
    text-align: center;
}

.nate-lloyd {
    font-family: 'IBM Plex Serif', serif;
    font-size: 50px;
    font-weight: 300;
}

.web-developer {
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
    font-weight: 200;
    
}

h1 {
    margin-bottom: 0; 
}

h2 {
    margin-top: 0; 
}

.website-icon {
    max-width: 200px;
}

.header-img {
    max-width: 300px;
}

.li-hero {
    max-width: 30px;
}

.gh-hero {
    max-width: 30px;
}

.med-hero {
    max-width: 30px;
}

.site-screenshot {
    max-width: 100px;
}