.coming-soon {
    font-family: "IBM Plex Serif";
}

.music-square {
    width: 312px;
    height: 500px;
    display: grid;
    place-items: center;
    color: black;
    background: rgba(255,255,255, 0.5);
    position: relative;
}