.nav-bar {
    text-align: center;
    position: relative;
}

nav {
    color: black; 
    position: absolute;
}

@media (min-width: 376px) {
    a {
        padding: 1rem;
        text-decoration:none;
    }
}

@media (max-width: 375px) {
    a {
        padding: 1.035rem;
    }
}

@media (max-width: 375px) {
    .hero-title {
    width: 300px;
    height: 460px;
    }
    a {
        padding: 1.035rem;
    }
}

ul {
    color: #3f3f3f; 
    padding-inline-start: 0px;
}

.link { 
    text-decoration: none;
    font-size: 15px;
    font-family: "Avenir";
    color: black; 
    transition: all 0.3s;
}

.link:hover {
    background-color: rgba(173, 216, 230, 0.7);
}

.activeLink  {
    background-color: rgba(173, 216, 230, 0.7);
}