.success-message {
    font-family: "IBM Plex Serif";
    text-align: center;
    padding: 2rem;
}

@media (min-width: 400px) {
    .success-square {
        width: 400px;
        height: 300px;
        display: grid;
        text-align: center;
        place-items: center;
        color: black;
        background: rgba(255,255,255, 0.5);
        position: relative;
    } 
}

@media (max-width: 400px) {
    .success-square {
        width: 350px;
        height: 100%; 
        display: grid;
        place-items: center;
        color: black;
        background: rgba(255,255,255, 0.5);
        position: relative;
    }
}

@media (max-width: 330px) {
    .success-square {
        width: 315px;
        height: 100%; 
        display: grid;
        place-items: center;
        color: black;
        background: rgba(255,255,255, 0.5);
        position: relative;
    }
}